/* public/static/backend/product/css/style.css */
.image-preview-container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}

#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

    .highlight {
        color: #D4A017; /* Màu vàng đất */
    }
    .btn-highlight {
        background-color: #D4A017;
        color: white;
    }
    .btn-highlight:hover {
        background-color: #C58E10; /* Màu đậm hơn khi hover */
    }

